h1 {
  color: black;
}

.dataview_frame {
  max-width: 1050px;
  min-width: 680px;
  height: 2500px;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.toc_frame {
  float: right;
  width: 18%;
  height: 100px;
  margin-left: 5px;
  padding-left: 5px;
  position: sticky;
  top: 10px;
  border-left: 3px solid #1cc88a !important;
}

.toc_title {
  font-size: 14px;
  font-weight: 600;
  color: #202124;
}

.page_frame {
  float: left;
  width: 80%;
  background-color: white;
  /* margin-left: var(--detail_frame_left); */
  border-radius: 2px;
  box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 1px 3px 1px;
  box-sizing: border-box;
  color: rgb(32, 33, 36);

  padding-top: 10px;
  padding-left: 25px;
  padding-bottom: 20px;
}

.header_container {
  height: 230px;
}

.header_title {
  float: left;
  width: 60%;
}

.header_image {
  float: right;
  width: 40%;
  text-align: right;
}

.detail_header_image {
  max-width: 200px;
  padding-right: 20px;
}

.chart {
  width: 100%;
  border: 0px;
  height: 300px;
}