body {
  font-family: Google Sans,
    Noto Sans,
    Noto Sans JP,
    Noto Sans KR,
    Noto Naskh Arabic,
    Noto Sans Thai,
    Noto Sans Hebrew,
    Noto Sans Bengali,
    sans-serif;

  /* border-top: 4px solid #37ba8a;
  margin: 0; */
}

.app_container {
  display: flex;
  /* height: 100%;
  width: 100%; */
  /* margin: "5px"; */
}

.navbar {
  height: 64px;
  display: flex;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.header_logo {
  margin-top: 12px;
  height: 35px;
  margin-left: 10px;
  margin-right: 8px;
}

.header_text {
  cursor: pointer;
  margin-top: 15px;
  font-size: 22px;
  margin-left: -4px;
}

.header_rightbox {
  margin-left: auto
}

.header_rightbox_logo {
  margin-left: auto;
  height: 42px;
  margin-top: 9px;
  margin-right: 7px;
  border-radius: 17px;
  opacity: .8;
}

.search_box {
  background-color: white;
  position: sticky;
  display: flex;
  top: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.search_field {
  background: #f1f3f4;
  border: 0;
  border-radius: 4px;
  color: rgb(95, 99, 104);
  font-size: 13px;
  height: 32px;
  padding-inline: 32px;
  margin: 20px;
  width: calc(100% - 104px);
}

textarea:focus,
input:focus {
  outline: none;
}

.search_icon {
  color: rgb(95, 99, 104);
  position: relative;
  left: 44px;
  top: 29px;
  font-size: 17px;

}

.search_field:before {
  content: "filter_list";
  inset-inline: 24px auto;
  font: normal normal normal 14px/1 Material Icons;
  top: 24px;
  height: 24px;

}

.menu_frame {
  width: 400px;
  height: calc(100vh - 65px);
  overflow-y: scroll;
  /* padding: 5px; */
}

.detail_frame {
  flex-grow: 1;
  /* position: absolute;
  left: 400px;
  width: calc(100vw - 405px); */
  height: calc(100vh - 65px);
  overflow-y: scroll;
  border: 0px;
}

.detail_empty_frame {
  flex-grow: 1;
  height: calc(100vh - 65px);
  overflow-y: scroll;
  border: 0px;
  text-align: center;
  color: #bbbbbb
}

.detail_image {
  opacity: 0.2;
  width: 175px;
}

.detail_empty_message {
  margin-top: 20vh;
}

.detail_header {
  position: absolute;
  background-color: white;
  right: 24px;
  width: calc(100vw - 443px);
  height: 49px;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.12); */
  /* font-size: 35px; */
  padding-top: 10px;
  /* font-style: italic; */
  margin: 0px;
  padding: 0px;
  padding-top: 5px;
}

.trending_container {
  flex-wrap: wrap;
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly
}

.trending_title {
  padding-left: 25px;
  color: #202124;
}

.trending_box {
  cursor: pointer;
  flex-grow: 1;
  background-color: white;
  margin: 15px;
  box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15) !important;
  border-left: 0.25rem solid #1cc88a !important;
  height: 8.5rem;
  border: 1px px solid rgba(0, 0, 0, 0.2);
  border-left: 0.5rem solid;
  min-width: 16.5rem;
  max-width: 21rem;
  display: flex;
  flex-wrap: wrap;
  padding-top: 5px;
}

.trending_box_title {
  font-size: 2rem;
  color: #1cc88a !important;
  width: 100%;
  padding-left: 10px;
}

.trending_box_metric {
  font-size: 4rem;
  color: #1cc88a !important;
  padding-top: 11px;
}

.trending_box_icon {
  font-size: 10rem;
  color: #dddfeb;
  position: relative;
  top: -50px;
  left: 11px;
}

@media only screen and (max-width: 700px) {
  .menu_frame {
    width: 0px;
  }

  .header_rightbox {
    display: none;
  }
}