:root {
  --listicon_size: 70px;
}

.list_container {
  height: 100%;
  padding-left: 4px;
}

.list_line {
  display: flex;
  vertical-align: middle;
  cursor: pointer;
  padding-left: 9px;
  padding-right: 20px;
  padding-bottom: 5px;
  text-decoration: none;
  color: black;
}

.list_line_selected {
  display: flex;
  vertical-align: middle;
  cursor: pointer;
  background-color: #f1f3f4;
  padding-left: 9px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-top: 2px;
  border-left: 0.25rem solid #1cc88a !important;
}

.list_line:hover {
  background-color: #f1f3f4;
}

.list_image {
  border-radius: var(--listicon_size);
  height: var(--listicon_size);
  margin-top: 5px;
  width: var(--listicon_size);
  min-width: var(--listicon_size);
  object-fit: cover;
  margin: 7px;
  margin-top: 10px;
}

.list_line_title {
  margin-top: 10px;
  margin-left: 3px;
}

.list_line_description {
  margin-top: 3px;
  margin-left: 3px;
  font-size: 12px;
  color: darkgray;
}