.list_container {
  height: 100%;

}

.list_line {
  display: flex;
  vertical-align: middle;
  cursor: pointer;
}

.list_image {
  border-radius: 90px;
  height: 100px;
  margin-top: 5px;
  width: 100px;
  min-width: 100px;
  /* align-content: stretch; */
  object-fit: cover;
  margin: 7px;
  margin-top: 10px;
}

.list_line_title {
  margin-top: 10px;
  margin-left: 3px;
}

.list_line_description {
  margin-top: 3px;
  margin-left: 3px;
  font-size: 12px;
  color: darkgray;
}